<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <nav class="navbar navbar-inverse">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#/!"><i class="fa fa-medkit" aria-hidden="true"></i> VS</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li><a href="#/!"><i class="fa fa-home"></i> Home</a></li>
                        <li><a href="#!search_health_unit"><i class="fa fa-search"></i> Consultar Unidade de Saúde</a></li>
                        <li><a href="#!searchcomplaint"><i class="fa fa-search"></i> Pesquisar Queixa</a></li>
                        <li><a href="#!searchaverage"><i class="fa fa-search"></i> Pesquisar Média Médico por Paciente</a></li>
                        <li><a href="#!generalSituationComplaints"><i class="fa fa-search"></i> Situação geral das queixas</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#!/complaint/register"><i class="fa fa-plus"></i> Adicionar Queixa</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>